{% extends "grocery_store_app/layout.html" %}

{% block title %}Profile - Grocery Store{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">User Profile</h4>
        </div>
        
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-4"><strong>Username:</strong></div>
            <div class="col-8">{{ user.username }}</div>
          </div>
          
          <div class="row mb-3">
            <div class="col-4"><strong>Email:</strong></div>
            <div class="col-8">{{ user.email }}</div>
          </div>
          
          <div class="row mb-3">
            <div class="col-4"><strong>First Name:</strong></div>
            <div class="col-8">{{ user.first_name|default:"Not provided" }}</div>
          </div>
          
          <div class="row mb-3">
            <div class="col-4"><strong>Last Name:</strong></div>
            <div class="col-8">{{ user.last_name|default:"Not provided" }}</div>
          </div>
          
          <div class="row">
            <div class="col-4"><strong>Member Since:</strong></div>
            <div class="col-8">{{ user.date_joined|date:"M d, Y" }}</div>
          </div>
        </div>
        
        <div class="card-footer text-center">
          <a href="{% url 'logout' %}" class="btn btn-danger" 
             onclick="return confirm('Are you sure you want to log out?')">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}